<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Jika yang diminta bukan file fisik atau folder fisik
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Arahkan ke index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>