<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Izinkan akses file fisik (gambar, css, js)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect sisanya ke index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>